/* fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/* common styles  */
body {
  margin: 0;
}

.banner-img {
  width: 100%;
  height: 100%;
}

/* banner  */

header {
  display: flex;
  background-color: rgb(39, 35, 35);
  color: white;
  justify-content: space-around;
  /* margin: 50px 120px; */
  margin: 5% 9%;
  border-radius: 35px;
  border-bottom: 0;
  /* height: 600px; */
}

.half-width {
  width: 35%;
}

.intro {
  padding: 5%;
}

.btn-watch-live {
  color: white;
  background-color: crimson;
  border: 0;
  border-radius: 5px;
  padding: 15px 20px;
}

.intro-img {
  padding-right: 20px;
  padding-top: 20px;
}

header h1 {
  font-size: 3.4rem;
}

/* main section  */
main {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  margin: 5% 9%;
}

/* menu selection  */

.menu-selection {
  background-color: rgb(39, 35, 35);
  padding: 20px;
  height: 270px;
  width: 200px;
  border-radius: 10px;
}
.menu {
  text-align: center;
  height: 40px;
  width: 150px;
  background-color: white;
  margin: 20px;
  border-radius: 5px;
  padding-top: 25px;
}
.menu a {
  text-decoration: none;
  color: black;
}

.menu.upcoming {
  background-color: crimson;
  color: white;
}

#menu-a {
  color: white;
}

/* match section  */

.matches {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.match {
  text-align: center;
  /* padding: 50px 20px; */
  padding: 5%;
  border: 1px solid rgb(223, 221, 221);
  border-radius: 5px;
}

.countries {
  display: flex;
}

.country {
  padding: 20px;
}
.country img {
  width: 100%;
  height: 100%;
}

.vs {
  font-size: 1.4rem;
}

.btn-tablet {
  text-align: center;
  display: none;
}

/* footer  */
.footer {
  background-color: rgb(39, 35, 35);
  color: white;
  text-align: center;
  /* padding: 80px 100px; */
  padding: 5% 10%;
}

.footer h1 {
  padding-bottom: 30px;
  font-size: 2.5rem;
}

.footer a {
  text-decoration: none;
  color: rgb(218, 216, 216);
}

.extension {
  margin: 20px;
}

.fa-brands {
  padding: 20px;
}

/* Responsive for tablet devices */
@media screen and (max-width: 768px) {
  .menu-selection {
    display: flex;
    background-color: white;
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .menu {
    border: 1px solid rgb(236, 236, 236);
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .matches {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .match-tablet {
    display: none;
  }
  .btn-tablet {
    display: block;
  }
  .footer {
    margin-top: 50px;
  }
}

/* Responsive for mobile devices  */
@media screen and (max-width: 580px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: rgb(39, 35, 35);
    color: white;
    align-items: center;
    /* margin: 50px 120px; */
    margin: 5% 9%;
    border-radius: 35px;
    border-bottom: 0;
    padding: 5% 10% 0;
    /* height: 600px; */
  }
  .intro {
    padding: 0;
  }
  .intro-img {
    padding: 0;
    margin-bottom: 0;
    padding-left: 20px;
    margin-top: 30px;
  }
  .half-width {
    width: 100%;
    margin-bottom: 0;
  }
  .menu-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 0;
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .menu {
    border: 1px solid rgb(236, 236, 236);
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .matches {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-extension {
    display: flex;
    flex-direction: column;
  }
}
